* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

.statistics {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    box-shadow: 5px 5px 19px -6px #000000;
}

.statList {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.title {
    text-align: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-transform: uppercase;
    color: slategray;
}

.percentage {
    font-size: 16px;
    margin-top: 10px;
}